html,
body {
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  overflow-x: hidden;
}

main {
 width: 100%;
 height: auto;
 overflow: hidden;
}


/*
  Set Global Theme Light Mode
*/
.light-mode body {
  background-color: #fff;
  color: #5D5D5D;
}

/*
  Set Global Theme Dark Mode
*/
.dark-mode body {
  background-color: #262626;
  color: #ebf4f1;
}


/*
  Skip To Content
*/
.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 99999;
  text-decoration: none;
  border: 0;
}

.skip-to-content:focus {
  top: 0;
}


