html,
body {
  width: 100%;
  /* min-height: auto; */
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  /* overflow: auto; */
}

main {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  /* margin-top: 5rem; */
}

/*
  Set Global Theme Light Mode
*/
.light-mode body {
  background-color: #fff;
  color: #5d5d5d;
}

/*
  Set Global Theme Dark Mode
*/
.dark-mode body {
  background-color: #262626;
  color: #ebf4f1;
}

/*
  Skip To Content
*/
.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 99999;
  text-decoration: none;
  border: 0;
}

.skip-to-content:focus {
  top: 0;
}


/* body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #a7a7a7;
  height: 50px;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a7a7a7;
} */
