html {
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  overflow-x:hidden ;
  overflow-y: scroll;
}

main {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/*
  Set Global Theme Light Mode
*/
.light-mode body {
  background-color: #fff;
  color: #5d5d5d;
}

/*
  Set Global Theme Dark Mode
*/
.dark-mode body {
  background-color: #262626;
  color: #ebf4f1;
}


