.hero-image-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}


.hero-image-bg__gradient {
  padding: 0;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(102deg,
      rgba(166, 11, 64, 0.75) 16.57%,
      rgba(217, 217, 217, 0) 95.59%);
}

.hero-heading-container {
  position: absolute;
  width: fit-content;
  top: 300px;
  left: 8px;
  right: 0;
  z-index: 1000;
}

.hero-heading__title {
  display: block;
  color: var(--font-50, #F6F6F6);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: start;
}


.hero-heading__desc {
  display: block;
  color: var(--Background, #FFF);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 100%;
}


.hero-social-media-container {
  display: block;
  position: absolute;
  top: 370px;
  right: 20px;
}


.hero-social-media-container .social-media__icons {
  text-align: center;
  width: 32.567px;
  height: 30.588px;
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  width: 9.6px;
  height: 9.6px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: var(--grey-400, #BDBDBD);

}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #C70943;
}


/*
   Responsive
*/

/* applies to medium devices (tablets, less than 992px) */



/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) {
  .hero-heading-container {
    display: block;
    width: 450px;
    left: 120px;
    top: 350px;
  }

  .hero-heading__title {
    font-size: 28px;
  }
  .hero-social-media-container {
    display: block;
    right: 130px;
    top: 350px;
  }

  .hero-heading__desc {
    font-size: 28px;   
  }
 }


 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
  .hero-heading-container {
    display: block !important;
    width: 650px;
    left: 50px;
    top: 350px;
  }

  .hero-heading__title {
    font-size: 45px;
  }

  .hero-social-media-container {
    display: block;
    right: 70px;
    top: 350px;
  }

  .hero-heading__desc {
    font-size: 33px;   
  }
 }


 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
  .hero-heading-container {
    display: block;
    width: 900px;
    left: 40px;
    top: 45%;
  }

  .hero-heading__title {
    font-size: 45px;
  }
  .hero-social-media-container{
    display: block;
    right: 40px;
    top: 48%;
  }
  .hero-heading__desc {
    font-size: 33px;   
  }
 }


 /*  X-Large devices (large desktops, 1200px and up) */

 @media (min-width: 1200px) {
  .hero-heading-container {
    display: block;
    width: 1100px;
    left: 80px;
    top: 45%;
  }

  .hero-heading__title {
    font-size: 61px;
  }

  .hero-social-media-container{
    display: block;
    right: 100px;
    top: 48%;
  }
  .hero-heading__desc {
    font-size: 33px;   
  }
 }


 /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
 
  .hero-social-media-container {
    display: block;
    right: 110px;
    top: 48%;
  }
 
  .hero-heading-container {
    display: block;
    width: 1200px;
    left: 100px;
    top: 45%;
  }

  .hero-heading__title {
    font-size: 61px;
  }

  .hero-heading__desc {
    font-size: 33px;   
  }
}



