.hero-image-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  scroll-behavior: smooth;
}


.hero-image-bg__gradient {
  padding: 0;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100vh !important;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(102deg,
      rgba(166, 11, 64, 0.75) 16.57%,
      rgba(217, 217, 217, 0) 95.59%);
}

.hero-heading-container {
  position: absolute;
  width: 100%;
  top: 45%;
  z-index: 1000;
}

.hero-heading__title {
  display: block;
  color: var(--font-50, #F6F6F6);
  font-family: Poppins;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: start;
}


.hero-heading__desc {
  display: none;
  color: var(--Background, #FFF);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 100%;
}


.hero-social-media-container {
  position: absolute;
  top: 45%;
  right: 0px;
}


.hero-social-media-container .social-media__icons {
  text-align: center;
  width: 32.567px;
  height: 30.588px;
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  width: 9.6px;
  height: 9.6px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: var(--grey-400, #BDBDBD);

}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #C70943;
}


/*
   Responsive
*/



/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero-heading-container {
    width: 100%;
  }

  .hero-heading__title {
    display: block;
    font-size: 33px !important;

  }


  .hero-social-media-container {
    display: block;
    right: 20px !important;
  }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

  .hero-social-media-container {
    display: block;
    /* right: 110px !important; */
  }
}



/* applies to large devices (desktops, less than 1200px) */
@media (max-width:  1200px) {
  
  .hero-social-media-container {
    display: block;
    right: 140px !important;
  }
  
}

/* applies to x-large devices (large desktops, less than 1400px) */

@media (max-width:  1399.98px) {
  
  .hero-social-media-container {
    display: block;
    right: 120px;
  }
}









